<?xml version="1.0" encoding="UTF-8"?>
<phpunit
    bootstrap="tests/bootstrap.php"
    cacheResult="false"
    colors="true"
>
    <testsuites>
        <testsuite name="MNEM Unit Tests">
            <directory suffix="Test.php">tests/unit</directory>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist>
            <directory suffix=".php">includes</directory>
        </whitelist>
    </filter>
</phpunit>
